body {
    font-family: var(--font-family-default);
    font-size: var(--font-size-base);

    background: var(--color-background);
    color: var(--color-foreground);

    margin: 0;
    padding: 0;
}

h1 {
    color: var(--color-blue-dark);
    font-family: var(--font-family-headlines);
    font-weight: 300;
    font-size: var(--font-size-header-base);
    letter-spacing: .14em;
    word-spacing: .3em;
}

a {
    color: var(--color-wihte-light);
    text-decoration: underline;
    line-height: var(--line-height);

    &:active,
    &:visited {
        color: var(--color-wihte-light);
    }

    &:hover {
        color: var(--color-black-dark);
        background: var(--color-blue-light);
    }
}
