:root {
    --color-background: #2E3436;
    --color-foreground: #D3D7CF;
    --color-blue-light: #9CD9F0;
    --color-blue-dark: #72B3CC;
    --color-black-light: #5D5D5D;
    --color-black-dark: #000000;
    --color-white-light: #F7F7F7;
    --color-white-dark: #B0B0B0;

    --spacing-elements: 2rem;
    --spacing-small-elements: 1rem;
    --spacing-large-elements: 4rem;

    --width-border-default: 0.2rem;

    --width-sidebar-max: 15rem;

    --font-family-default: "DejaVu Sans Mono", "Menlo", "Consolas", monospace;
    --font-family-headlines: "Montserrat", "Avenir", "Roboto", sans-serif;
    --font-size-base: 1.5em;
    --font-size-header-base: 2.5em;
    --font-size-header-sub: 1.5em;
    --line-height: 1.33em;
}
