article {
    display: grid;
    grid-template-columns: 50em var(--width-sidebar-max);
    column-gap: var(--spacing-elements);

    margin-top: var(--spacing-large-elements);
    #layout-entryDetail & {
        margin-top: 0;
    }

    h1 {
        grid-column: 1 / 3;

        margin-bottom: 0;

        font-size: var(--font-size-header-sub);

        #layout-entryDetail & {
            margin-top: 0;
            font-size: var(--font-size-header-base);
        }
    }

    main {
        margin-top: var(--spacing-elements);
        line-height: var(--line-height);

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-size: calc(var(--font-size-header-sub) - 0.5);
        }
    }

    nav {
        grid-row: 2 / 4;
        grid-column: 2;

        a {
            display: block;
            margin: {
                bottom: var(--spacing-small-elements);
            }
        }
    }
}
