{% extends 'base.html.twig' %}

{% block layout %}entryDetail{% endblock %}

{% block title %}{{ entry.name }} {{entry.feed.name }} {{ entry.feed.bucket.name }}| {{ parent() }}{% endblock %}

{% block body %}
    {{ include('entry/_single.html.twig', {entry: entry}) }}
{% endblock %}
