body > main > nav {
    border: {
        right: var(--color-blue-light) solid var(--width-border-default);
    }

    a {
        display: block;
        padding: var(--spacing-small-elements);
    }
}
