{% extends 'base.html.twig' %}

{% block title %}{{ feed.name }} {{ feed.bucket.name }}| {{ parent() }}{% endblock %}

{% block body %}
    <header>
        <h1>Feed: {{ feed.name }}</h1>

        <nav>
            <a href="{{ feed.url }}" target="_blank"
                rel="external nofollow noopener noreferrer"
                referrerpolicy="no-referrer">Feed URL</a>

            {% if feed.htmlUrl %}
                <a href="{{ feed.htmlUrl }}" target="_blank"
                    rel="external nofollow noopener noreferrer"
                    referrerpolicy="no-referrer">HTML variant</a>
            {% endif %}

            <a href="{{ path('bucket', {slug: feed.bucket.slug}) }}">{{ feed.bucket.name }} bucket</a>
        </nav>
    </header>

    {{ include('feed/entries.html.twig', {entries: feed.entries}) }}

{% endblock %}
