<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ app_name }}{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/style.css') }}" rel="stylesheet">
        {% endblock %}
    </head>
    <body id="layout-{% block layout %}default{% endblock %}">
        <header>
            <h1><a href="{{ path('start') }}">{{ app_name }}</a></h1>
        </header>

        <main>
            <nav>
                {% for bucket in buckets.findAll %}
                    <a href="{{ path('bucket', {slug: bucket.slug}) }}">{{ bucket.name }}</a>
                {% endfor %}
            </nav>

            <section>
                {% block body %}{% endblock %}
            </section>
        </main>

        <footer>
            © by <a href="https://daniel-siepmann.de">Daniel Siepmann</a> since 2020
        </footer>

        {% block javascripts %}{% endblock %}
    </body>
</html>
