{% extends 'base.html.twig' %}

{% block title %}{{ bucket.name }} | {{ parent() }}{% endblock %}

{% block body %}
    <header>
        <h1>Bucket: {{ bucket.name }} <small>with {{ bucket.feeds | length }} feeds</small></h1>
        <nav> </nav>
    </header>

    {# TODO: collect newest entries of all feeds in controller #}
    {{ include('feed/entries.html.twig', {entries: bucket.feeds.first.entries | slice(0, 10) }) }}

    <aside>
        <h1>Feeds in this bucket</h1>
        <ul>
            {% for feed in bucket.feeds %}
                <li>
                    <a href="{{ path('feed', {slug: feed.slug}) }}">{{ feed.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </aside>
{% endblock %}
